/* originally from a product list: https://freshman.tech/product-list/*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
 font-family:
 -apple-system, BlinkMacSystemFont, 'Perpetua', serif;
 line-height: 1.4;
}

.container {
  width: 40% !important;
  max-width: 300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
}

button {
  width: 25px;
  height: 25px;
  color: red;
  font-size: 20px;
  align-self: right;
}

i {
  font-size: 6px;
}

.product-list {
  list-style: none;
  margin-bottom: 20px;
}

.product-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

.done span {
  text-decoration: line-through;
}

.delete-product {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}


form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.js-form i{
  padding-top: 20px;
  font-size: 16px;
  width: 25px;
  color: green;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border:none;
  border-bottom: 1px black solid;
  outline: none;
}
